<tr class="talk {{ 'even' if index % 2 == 0 else 'odd' }}">

    {%- if not (talk.endTime is none) %}
        {{ talk.endTime }}
        <td class="time">{{ talk.startTime.strftime("%H:%M") }} - {{ talk.endTime }}</td>
    {% else %}
        <td class="time">{{ talk.startTime.strftime("%H:%M") }}</td>
    {% endif  -%}
    <td class="name-email-affil">

        {%- if talk.speakerHomePage is not none %}
            <a href="{{talk.speakerHomePage}}"><nobr>{{ talk.speakerName }}</nobr></a>
        {% else %}
            <nobr>{{ talk.speakerName }}</nobr>
        {% endif -%}


        {%- if talk.spEmail|length > 0 %}
            <br/> {{ talk.spEmail }}
        {% endif -%}

        {%- if talk.spEmail|length > 0 %}
        <br/> {{ talk.spAffiliation }}
        {% endif -%}
    </td>
    <td class="talk-title"> {{ talk.title }} </td>
</tr>

